<!DOCTYPE html>
<html>
<head>
    <title>MediClover</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div style="background:#1b4332; padding:15px; color:white; display:flex; justify-content:space-between; align-items:center;">
    <h3>🏥 MediClover</h3>

    <div style="background:#1b4332; padding:15px; color:white; display:flex; justify-content:space-between;">
    <h3>🏥 MediClover</h3>
    <div>
        <a href="/">Inicio</a>
        <a href="/admin">Dashboard</a>
        <a href="/pacientes">Pacientes</a>
        <a href="/citas">Citas</a>
        <a href="/logout">Salir</a>
    </div>
</div>

<div style="padding:20px;">
    {% block contenido %}{% endblock %}
</div>

</body>
</html>