{% extends "base.html" %}

{% block contenido %}

<h1>📅 Lista de Citas</h1>

<div class="card">

<table>

<tr>
<th>Paciente</th>
<th>Fecha</th>
<th>Hora</th>
<th>Estado</th>
<th>Acciones</th>
</tr>

{% for cita in citas %}

<tr>
<td>{{ cita[1] }} {{ cita[2] }}</td>
<td>{{ cita[3] }}</td>
<td>{{ cita[4] }}</td>

<td>
<span class="estado {{ cita[5] }}">
{{ cita[5] }}
</span>
</td>

<td>
<a href="/editar_cita/{{ cita[0] }}">Editar</a>
<a href="/eliminar_cita/{{ cita[0] }}">Eliminar</a>
</td>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}