<!DOCTYPE html>
<html>
<head>
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">

    <h2>Editar Paciente</h2>

    <form method="POST">
        <input name="nombre" value="{{ paciente[0] }}">
        <input name="apellido" value="{{ paciente[1] }}">
        <input name="correo" value="{{ paciente[2] }}">
        <input name="telefono" value="{{ paciente[3] }}">
        <input type="date" name="fecha_nacimiento" value="{{ paciente[4] }}">
        <button>Guardar</button>
    </form>

    <a href="/pacientes">Volver</a>

</div>

</body>
</html>