<!DOCTYPE html>
<html>
<head>
    <title>Editar Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">

    <div class="card">
        <h2>✏️ Editar Paciente</h2>

        <form method="POST">
            <input name="nombre" value="{{ paciente[0] }}" required>
            <input name="apellido" value="{{ paciente[1] }}" required>
            <input name="correo" value="{{ paciente[2] }}" required>
            <input name="telefono" value="{{ paciente[3] }}">
            <input type="date" name="fecha_nacimiento" value="{{ paciente[4] }}">

            <button class="btn">Guardar cambios</button>
        </form>

        <br>
        <a href="/pacientes" class="btn">⬅ Volver</a>

    </div>

</div>

</body>
</html>