<!DOCTYPE html>
<html>
<head>
    <title>Login Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <a href="/registro_paciente">Crear cuenta</a>
</head>
<body>

<div class="container">
    {% extends "base.html" %}

{% block contenido %}

<div class="card">
    <h2>Login Paciente</h2>

    <form method="POST">
        <input type="email" name="correo" placeholder="Correo" required>
        <button class="btn">Ingresar</button>
    </form>

    <br>
    <a href="/registro_paciente">Crear cuenta</a>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}
</div>

{% endblock %}

</body>
</html>