{% extends "base.html" %}

{% block contenido %}

<h2>Lista de Pacientes</h2>
<h3>Buscar Paciente</h3>

<form method="GET" action="/pacientes">

<input type="text" name="buscar" placeholder="Buscar por nombre o apellido">

<button type="submit">Buscar</button>

</form>

<br>
<table>

<tr>
<th>ID</th>
<th>Nombre</th>
<th>Apellido</th>
<th>Correo</th>
<th>Teléfono</th>
<th>Fecha Nacimiento</th>
<th>Acciones</th>
</tr>

{% for paciente in pacientes %}

<tr>

<td>{{ paciente[0] }}</td>
<td>{{ paciente[1] }}</td>
<td>{{ paciente[2] }}</td>
<td>{{ paciente[3] }}</td>
<td>{{ paciente[4] }}</td>
<td>{{ paciente[5] }}</td>

<td>

<a href="/editar_paciente/{{ paciente[0] }}">Editar</a>

<a href="/eliminar_paciente/{{ paciente[0] }}"
onclick="return confirm('¿Seguro que quieres eliminar este paciente?')">

Eliminar

</a>

</td>

</tr>

{% endfor %}

</table>

{% endblock %}