<!DOCTYPE html>
<html>
<head>
    <title>Pacientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="layout">

    <div class="sidebar">
        <h2>🏥 MediClover</h2>
        <a href="/admin">Dashboard</a>
        <a href="/pacientes" class="active">Pacientes</a>
        <a href="/citas">Citas</a>
        <a href="/logout">Salir</a>
    </div>

    <div class="main">

        <h1>Pacientes</h1>

        <table>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo</th>
                <th>Teléfono</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>

            {% for p in pacientes %}
            <tr>
                <td>{{ p[1] }}</td>
                <td>{{ p[2] }}</td>
                <td>{{ p[3] }}</td>
                <td>{{ p[4] }}</td>
                <td>{{ p[5] }}</td>
                <td>
                    <a href="/editar_paciente/{{ p[0] }}">✏️</a>
                    <a href="/eliminar_paciente/{{ p[0] }}">🗑️</a>
                </td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>