{% extends "base.html" %}

{% block contenido %}

<h1>👤 Registrar Paciente</h1>

<div class="card">

{% if mensaje %}
<div class="{{ tipo }}">
    {{ mensaje }}
</div>
{% endif %}

<form method="POST">

<label>Nombre</label>
<input name="nombre" required>

<label>Apellido</label>
<input name="apellido" required>

<label>Correo</label>
<input name="correo" required>

<label>Teléfono</label>
<input name="telefono">

<label>Fecha de nacimiento</label>
<input type="date" name="fecha_nacimiento">

<br>

<button class="btn">Guardar</button>

</form>

</div>

{% endblock %}