{% extends "base.html" %}

{% block contenido %}

<div class="form-container">

<h2>Registrar Paciente</h2>

<form method="POST">

<label>Nombre</label>
<input type="text" name="nombre" required>

<label>Apellido</label>
<input type="text" name="apellido" required>

<label>Correo</label>
<input type="email" name="correo" required>

<label>Teléfono</label>
<input type="text" name="telefono">

<label>Fecha de nacimiento</label>
<input type="date" name="fecha_nacimiento">

<button type="submit">Guardar Paciente</button>

</form>

</div>

{% endblock %}