<!DOCTYPE html>
<html>
<head>
    <title>Registro Paciente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="container">

    {% extends "base.html" %}

{% block contenido %}

<div class="card">
    <h2>Crear cuenta</h2>

    <form method="POST">

    <input type="text" name="nombre" placeholder="Nombre"
    required minlength="3"
    pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+">

    <input type="text" name="apellido" placeholder="Apellido"
    required minlength="3"
    pattern="[A-Za-zÁÉÍÓÚáéíóúñÑ ]+">

    <input type="email" name="correo" placeholder="Correo" required>

    <input type="text" name="telefono" placeholder="Teléfono"
    required pattern="[0-9]{7,10}">
    <button type="submit">Registrarse</button>

    </form>

    {% if mensaje %}
        <div class="{{ tipo }}">
            {{ mensaje }}
        </div>
    {% endif %}

    <br>
    <a href="/login_paciente">Ya tengo cuenta</a>
</div>

{% endblock %}

</div>

</body>
</html>