<!DOCTYPE html>
<html>
<head>
    <title>Reservar Cita - MediClover</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

<div class="navbar">
    <h2>🏥 MediClover</h2>
    
{% extends "base.html" %}

{% block contenido %}

<a href="/panel_paciente" class="btn">⬅ Volver</a>

<div class="card">
    <h2>Reservar cita</h2>
    <p><b>Doctor:</b> Dr. Luis Suárez</p>
</div>

{% if mensaje %}
    <div class="{{ tipo }}">
        {{ mensaje }}
    </div>
{% endif %}

<div class="card">
    <form method="POST">

        <label>Fecha</label>
        <input type="date" name="fecha" required min="{{ fecha_hoy }}">

        <label>Hora</label>
        <input type="time" name="hora" required>

        <label>Descripción</label>
        <textarea name="descripcion" required minlength="5"></textarea>

        <button type="submit">Reservar</button>

    </form>
</div>

{% endblock %}
      

</div>

</body>
</html>